<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="3"
         timeoutForLargeTests="9"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutTestSize="true">
    <testsuites>
        <testsuite name="SeafilePhpSdk Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>vendor</directory>
            <directory>tools</directory>
            <directory>tests</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="/tmp/seafile-php-sdk-clover.xml"/>
        <log type="tap" target="/tmp/phpunit-result/seafile-php-sdk-current-tap.txt"/>
        <log type="coverage-html" target="/tmp/phpunit-result/seafile-php-sdk-current" showUncoveredFiles="true"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>