<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="3"
         timeoutForLargeTests="9"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true">
    <php>
        <!-- Override these by creating `./.env` from `./.env.dist` and sourcing the variables
        using `export $(cat .env | xargs)` before running the functional tests -->
        <env name="ALLOW_LIVE_DATA_MANIPULATION_ON_TEST_SERVER" value="0" force="false"/><!-- 1=enabled -->
        <env name="TEST_SERVER_AUTHORIZATION_TOKEN" value="not_set" force="false"/><!-- see README.md-->
        <env name="TEST_SERVER" value="https://seafile-server.example.com" force="false"/>
        <env name="TEST_LIB_ID" value="not_set" force="false"/>
        <env name="TEST_LIB_PASSWORD" value="not_set" force="false"/>
    </php>
    <testsuites>
        <testsuite name="SeafilePhpSdk Unit Test Suite">
            <directory>./test/unit</directory>
        </testsuite>
        <testsuite name="SeafilePhpSdk Functional Test Suite">
            <directory>./test/functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <!--
                <log type="coverage-clover" target="/tmp/seafile-php-sdk-clover.xml"/>
                <log type="coverage-html" target="/tmp/phpunit-result/seafile-php-sdk-current" showUncoveredFiles="true"/>   -->
    </logging>
</phpunit>